body {
  margin: 0;
  font-family: Roboto, Arial, sans-serif;
  font-family: Roboto, Arial, sans-serif;
}



.accueil {
  padding: 20px;
  transition: margin-left 0.3s ease; 
}

.accueil.with-nav {
  margin-left: 145px; 
}


.accueil.with-nav {
  margin-left: 145px; 
}


.accueil.with-nav {
  margin-left: 145px; 
}








